<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mine.trpgbeta">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".variable"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="TRPG(베타)"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".village.equipment"></activity>
        <activity android:name=".chatting" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7018804882363864~1353204450" />

        <activity
            android:name=".intro"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".hunting.field"
            android:screenOrientation="portrait" />
        <activity
            android:name=".hunting.forest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".hunting.deepsea"
            android:screenOrientation="portrait" />
        <activity
            android:name=".hunting.volcano"
            android:screenOrientation="portrait" />
        <activity
            android:name=".hunting.SnowHill"
            android:screenOrientation="portrait" />
        <activity
            android:name=".hunting.raid"
            android:screenOrientation="portrait" />
        <activity
            android:name=".village.village"
            android:screenOrientation="portrait" />
        <activity
            android:name=".village.shop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".village.casino"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="android.arch.lifecycle.VERSION"
            android:value="27.0.0-SNAPSHOT" />
    </application>

</manifest>